# Environment files
.env
.env.testing

# IDEs & Editors
.idea/
.vscode/

# Laravel Specific
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/public/hot

# Logs and Cache
.phpunit.result.cache
.php_cs.cache
npm-debug.log
yarn-error.log

# Asset folders (compiled)
/public/css
/public/js
/public/vendor

# Language and vendor
/lang/vendor

# Docker and Vagrant
.vagrant/
docker-compose-collection/
Homestead.json
Homestead.yaml

# Miscellaneous
*.hot
.DS_Store
/test-results
/playwright-report
/stubs
/data
/ignorables/

# Package lock files
package-lock.json
yarn.lock
